html {
    font-family: "PT Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}

table {
    width: 300px;
}

thead {
    background-color: rgb(136, 188, 121);
    color: white;
}

th {
    padding: 10px;
    align-items: center;
}

tbody {
    color: rgb(255, 163, 65);
    font-weight: 400;
}

.list-items {
    border-top: 15px solid white;
}

.button-remove-list-item {
    font-size: 10px;
    padding: 5px 8px;
    margin: 0 10px 0 0;
    color: white;
    background-color: rgb(224, 87, 93);
}

tfoot tr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}



#input-add-skill {
    border: 2px solid rgb(136, 188, 121);
    background-color: white;
    margin: 8px 15px 8px 0;
    width: 200px;
    height: 25px;

}

#button-add-skill {
    border: 2px solid rgb(136, 188, 121);
    background-color: white;
    color: rgb(136, 188, 121);
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    width: 70px;
}
